/***
* Titles
***/

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-serifBold leading-tight #{!important};
}

h1 {
    @apply text-4xl lg:text-5xl xl:text-7xl;
}
h2 {
    @apply text-2xl;
}

/**
* Main content
*/

main[role="main"] {
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) {
        @apply mt-8 mb-4;
    }

    p:not(:first-child) {
        @apply mt-6;
    }

    p strong {
        @apply text-mandarin;
    }
    p.font-serif strong {
        @apply font-serifBold;
    }

    ul {
        @apply p-4 ml-4;
        li {
            @apply list-disc;
        }
    }
}

.thumbnail {
    $thumbnail_height-max: 250px;
    width: 100%;
    height: $thumbnail_height-max;
    max-height: $thumbnail_height-max;

    @screen lg {
        $thumbnail_height-max: 500px;
        height: $thumbnail_height-max;
        max-height: $thumbnail_height-max;
    }

    img {
        @apply w-full h-full object-cover;
    }
}
