.site-header {
    @apply border-b border-yellow
        lg:border-none;
}

input[type="checkbox"]:checked + .main-navigation {
    @apply h-auto pointer-events-auto opacity-100;
}
.main-navigation {
    @apply opacity-0 pointer-events-none h-0
        lg:opacity-100 lg:pointer-events-auto lg:h-auto;

    a:not(.logo) {
        @apply block py-2
            hover:underline focus:underline;

        &[aria-current="page"] {
            @apply text-vermillon underline font-bold;
        }
    }

    .current-menu-parent > a,
    .current-product-ancestor > a {
        @apply text-vermillon underline font-bold;
    }
}

.menu-item-has-children {
    @apply relative flex flex-wrap place-items-center;
}

ul.sub-menu {
    @apply px-6 text-sm w-full opacity-0 pointer-events-none h-0 z-50
        lg:absolute lg:top-full lg:divide-y divide-gray-100 lg:rounded lg:bg-white lg:shadow lg:px-0 lg:w-96 lg:max-w-max;
}

input[type="checkbox"]:checked + .sub-menu,
.menu-item-has-children a:focus + input + .sub-menu,
.menu-item-has-children a:hover + input + .sub-menu {
    @apply opacity-100 pointer-events-auto h-auto;
}

@screen lg {
    .group:hover .sub-menu {
        @apply opacity-100 pointer-events-auto h-auto;
    }
}

ul.sub-menu .menu-item {
    @apply lg:px-6 lg:py-3;
}
